#Remoçãp de dados

Pandas apresenta varios métodos para trabalhar com NaN<br>
<br>
isna() or isnull(): Para identificar valores NaN, retornando uma mascara booleana.<br>
dropna(): Para remover linhas ou colunas contendo valores NaN.<br>
fillna(): Para imputar valores alternativos aos valores NaN, que podem ser o mesmo valor do próximo (forward)<br>

In [6]:
import pandas as pd
import numpy as np

# Criando um DataFrame de exemplo com dados ausentes
dados_alunos = pd.DataFrame({
    'nome': ['Livia', 'Gabriel', 'Carlos', 'Carolina'],
    'nota_final': [8.5, 7.0, np.nan, 9.0],
    'faltas': [2, 3, 2, np.nan]
})

print(dados_alunos)

       nome  nota_final  faltas
0     Livia         8.5     2.0
1   Gabriel         7.0     3.0
2    Carlos         NaN     2.0
3  Carolina         9.0     NaN

In [5]:
import pandas as pd
import numpy as np

# Criando um DataFrame de exemplo com dados ausentes
dados_alunos = pd.DataFrame({
    'nome': ['Livia', 'Gabriel', 'Carlos', 'Carolina'],
    'nota_final': [8.5, 7.0, np.nan, 9.0],
    'faltas': [2, 3, 2, np.nan]
})

valores_nan = dados_alunos.isna()

print(valores_nan)

    nome  nota_final  faltas
0  False       False   False
1  False       False   False
2  False        True   False
3  False       False    True

In [7]:
import pandas as pd
import numpy as np

# Criando um DataFrame de exemplo com dados ausentes
dados_alunos = pd.DataFrame({
    'nome': ['Livia', 'Gabriel', 'Carlos', 'Carolina'],
    'nota_final': [8.5, 7.0, np.nan, 9.0],
    'faltas': [2, 3, 2, np.nan]
})

valores_nan = dados_alunos.dropna()

print(valores_nan)

      nome  nota_final  faltas
0    Livia         8.5     2.0
1  Gabriel         7.0     3.0